@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>乐诚</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/font/iconfont.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/jqadmin.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/css/main.css?v1.0.0" media="all">

</head>
<body>
    <div class="container-fluid larry-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!--头部搜索-->

                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">订单导入</li>
                        <li>库存采购</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div>
                                <form class="layui-form">
                                    <label style="color:red;">提示:导入的文件不同的店铺格式字段不同(csv,xls,xlsx),请选择订单纳期</label><br>
                                    <div style="margin-top:10px;margin-bottom:10px;">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">平台</label>
                                            <div class="layui-input-inline">
                                                <select name="plat" lay-verify="required" lay-filter="plat" lay-search="" id="platform">
                                                    <option value="0">--请选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">店铺</label>
                                            <div class="layui-input-inline">
                                                <select name="shop" lay-verify="required" lay-search="" id="shops">
                                                    <option value="0">--请选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">纳期：</label>
                                            <div class="layui-input-inline">
                                                <input class="layui-input" name="nq" id="naqi" placeholder="纳期" onclick="layui.laydate({elem: this, festival: true}) ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">文件名称：</label>
                                        <div class="layui-input-inline">
                                            @*<input type="file" name="" value="选择导入的文件" id="files" multiple />*@
                                            <input type="file" name="files" id="files" multiple />
                                        </div>
                                        <div class="layui-input-inline" style="margin-left:60px;">
                                            <input type="button" name="" class="layui-btn layui-btn-danger " value="配置SKU" id="layersku" />
                                        </div>
                                    </div>
                                    <div style="margin-left:30px;">
                                        <input type="button" value="导入" class="layui-btn" id="submitId">
                                        <input type="button" value="搜索" class="layui-btn layui-btn-normal" id="SearchOrder">
                                        <input type="button" value="解析入库" class="layui-btn layui-btn-danger" id="InsertOrder">
                                    </div>
                                </form>

                            </div>
                            <div>
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>系统订单号</th>
                                            <th>平台订单号</th>
                                            <th>SKU</th>
                                            <th>数量</th>
                                            <th>客户名</th>
                                            <th>手机</th>
                                            <th>电话</th>
                                            <th>地址</th>
                                            <th>邮编</th>
                                            <th>店铺名</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableBody"></tbody>
                                </table>
                                <div>
                                    <span>总记录数:</span><span id="totil"></span>&nbsp;&nbsp;
                                    <span>总页数:</span><span id="totilpage"></span>&nbsp;&nbsp;
                                    <span>每页几条:</span>
                                    <select id="onepagecount">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span id="laypage"></span>
                                </div>
                            </div>

                        </div>

                        <div class="layui-tab-item">
                            6
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/layui/layui.js"></script>
    <script type="text/javascript" src="~/Scripts/Najaxfileupload.js"></script>
    <script>

        $(function () {
            layui.use(['form', 'layer', 'laypage', 'element', 'laydate', 'upload'], function () {
                var form = layui.form()
                      , layer = layui.layer
                     , laypage = layui.laypage
                     , element = layui.element()
                     , laydate = layui.laydate;

           
                $('#SearchOrder').bind("click", function () {
                    var shopID = $('#shops').val();
                    rendertable(1, shopID);
                })

                //解析入系统
                $('#InsertOrder').bind("click", function () {
                    var leadin = layer.load(0, {
                        shade: [0.1, '#676a6c']  //0.1透明度的白色背景
                    });
                    var shopID = $('#shops').val();
                    var platformID = $('#platform').val();
                    $.post('@Url.Content("~/ImportOrder/InsertOrder")', { shopID: shopID, platformID: platformID }, function (data) {
                        if (data) {
                            layer.close(leadin);
                            layer.msg(data.Msg, { icon: 6, time: 2000 });
                        } else {
                            layer.close(leadin);
                            layer.msg(data.Msg, { icon: 5, time: 2000 });
                        }
                    })
                })
                //绑定数据到表格 
                function Build(supplierlist) {
                    var body = $("#tableBody");
                    var totiltext;
                    $(supplierlist).each(function (i, e) {
                        var mtext = "<tr>";
                        mtext = mtext + buildTr(e);
                        mtext = mtext + "</tr>";
                        totiltext = totiltext + mtext;
                    })

                    body.append(totiltext);
                }

                function buildTr(tr) {
                    var trContent = "<td>" + tr.OrderID + "</td>";
                    trContent += "<td>" + tr.SysOrderNub + "</td>";
                    trContent += "<td>" + tr.OrderNub + "</td>";
                    trContent += "<td>" + tr.SKU + "</td>";
                    trContent += "<td>" + tr.Num + "</td>";
                    trContent += "<td>" + tr.Buyer + "</td>";
                    trContent += "<td>" + tr.telephone + "</td>";
                    trContent += "<td>" + tr.phone + "</td>";
                    trContent += "<td>" + tr.address + "</td>";
                    trContent += "<td>" + tr.zip + "</td>";
                    trContent += "<td>" + tr.shopID + "</td>";
                    trContent += "<td><input type='button' class='layui-btn layui-btn-mini' onclick='UpdateSKU(this)' value='修改'/><input type='button' class='layui-btn layui-btn-mini layui-btn-normal' onclick='DeleteSKU(this)' value='删除'/></td>";
                    return trContent;
                }
           
                //渲染表格数据
                function rendertable(index, shopID) {
                    var daoru = layer.load(0, {
                        shade: [0.1, '#676a6c']  //0.1透明度的白色背景
                    });
                    $("#tableBody").children().remove();
                    $("#laypage").children().remove(); //清空数据
                    var pagecount = $("#onepagecount").val();//单页几条数据
                    $.post('@Url.Content("~/ImportOrder/GetLSpage")', { pagenum: index, onepagecount: pagecount, shopID: shopID }
                       , function (data) {
                           if (data.State) {
                               if (data.DataResult.PSKUlist.length > 0) { //如果有数据
                                   Build(data.DataResult.PSKUlist); //绑定数据到表格
                                   $("#totil").text(data.DataResult.totilcount);
                                   $("#totilpage").text(data.DataResult.totilpage);
                                   totil = data.DataResult.totilcount;
                                   totilpage = data.DataResult.totilpage;
                                   laypage({
                                       cont: 'laypage'
                                       , curr: index
                                       , skip: false
                                       , pages: totilpage
                                       , jump: function (obj, first) {
                                           if (!first)//不是首次加载
                                           {
                                               rendertable(obj.curr, $('#shops').val()); //自动调用的函数
                                           }
                                       }
                                   });
                               }
                               else {
                                   layer.msg("未找到任何数据");
                               }
                           }
                           else {
                               layer.msg("查询失败，失败原因：" + data.message);
                           }
                           layer.close(daoru);
                       });
                }

                var daoru;
                layui.upload({
                    elem: 'uploadfile'
                   , method: 'post'
                    , before: function () {
                        daoru = layer.load(0, {
                            shade: [0.1, '#676a6c'] //0.1透明度的白色背景
                        });
                    }
                   , url: ''
                   , title: '请上传CSV或者xls格式的文件'
                   , ext: 'csv|xls|xlsx'
                   , type: 'file'
                   , success: function (res, input) {
                       layer.close(daoru);
                   }
                });

                GetshopAndPlat();

                form.on('select(plat)', function (data) {
                     var platformID = $('#platform').val();
                     $.post('@Url.Content("~/GetDropDownList/GetShops")', { platformID: platformID }, function (data) {
                        $('#shops').children().remove();
                        for (var i = 0; i < data.length; i++) {
                            $('#shops').append("<option value='" + data[i].shop_id + "'>" + data[i].shop_name + "</option>"); //为Select追加一个Option(下拉项)
                        }
                        form.render('select');
                    })
                });

                function GetshopAndPlat() {
                    $.post('@Url.Content("~/GetDropDownList/GetPlatForms")', {}, function (data) {
                        $('#platform').children().remove();
                        for (var i = 0; i < data.length; i++) {

                            $('#platform').append("<option value='" + data[i].platform_id + "'>" + data[i].platform_name + "</option>"); //为Select追加一个Option(下拉项)
                        }
                        form.render('select');
                    })
                }


            })
        })


    </script>
    <script type="text/javascript">


    $('#layersku').click(
        function open() {
            var openedit = layer.open({
                type: 2,
                title: "SKU配置列表",
                anim: 2,
                //content: $('#layersupp'),
                content: ['/ImportOrder/PeizhiSKU?islayeropen=1', 'yes'],
                area: ['900px', '800px']
            });
        })


    //删除UpdateSKU
    function DeleteSKU(curr) {
        layer.msg('确定要删除吗？', {
            time: 0 //不自动关闭
       , btn: ['确认', '取消']
       , yes: function (index) {
           layer.close(index);
           $(curr).parent().parent().remove();
           var id = $(curr).parent().parent().children('td').eq(0).text();
           var shopID = $('#shops').val();
           $.post('@Url.Content("~/ImportOrder/DeleteLs")', { id: id,shopID:shopID }, function (data) {
                   if (data) {
                       layer.msg(data.Msg,{ icon: 6, time: 1000 });
                   } else {
                       layer.msg(data.Msg, { icon: 5, time: 1000 });
                   }
               })
              }
            });
        }
        //更新
        function UpdateSKU(e) {
            var id = $(e).parent().parent().children('td').eq(0).text();
            var clientname = $(e).parent().parent().children('td').eq(5).text();
            var sku = $(e).parent().parent().children('td').eq(3).text();
            var num = $(e).parent().parent().children('td').eq(4).text();
            var telephone = $(e).parent().parent().children('td').eq(6).text();
            var phone = $(e).parent().parent().children('td').eq(7).text();
            var address = $(e).parent().parent().children('td').eq(8).text();
            $('#clientname').val(clientname);
            $('#sku').val(sku);
            $('#num').val(num);
            $('#telephone').val(telephone);
            $('#phone').val(phone);
            $('#address').val(address);           
          
             openedit = layer.open({
                type: 1,
                title:"订单编辑",
                content: $('#layersupp'),
                area: ['900px', '600px']
            });
            $("#save1").on("click", function () {               
                layer.close(openedit);              
                clientname = $('#clientname').val();
                sku = $('#sku').val();
                num = $('#num').val();
                telephone = $('#telephone').val();
                phone = $('#phone').val();
                address = $('#address').val();
                shopID = $('#shops').val();
                $.post('@Url.Content("~/ImportOrder/UpdateLSSKU")', { shopID:shopID,id: id, clientname: clientname,sku:sku,num:num,telephone:telephone,phone:phone,address:address }
                , function (data) {
                    if (data.State == 1) {
                        $(e).parent().parent().children('td').eq(5).text(clientname);
                        $(e).parent().parent().children('td').eq(3).text(sku);
                        $(e).parent().parent().children('td').eq(4).text(num);
                        $(e).parent().parent().children('td').eq(6).text(telephone);
                        $(e).parent().parent().children('td').eq(7).text(phone);
                        $(e).parent().parent().children('td').eq(8).text(address);
                        layer.msg(data.Msg, { icon: 6, time: 1000 });
                    } else {
                        layer.msg(data.Msg);
                    }
                });
            });
        }

        $("#submitId").on("click", function () {
            var shopid = $("#shops").val();
            var naqi = $("#naqi").val();
            var files = $("#files").val();
            if (naqi=="")
            {
                layer.msg("请输入纳期");
                $("#naqi").focus();
                return false;
            }
            if (files == "") {
                layer.msg("请选择上传文件");           
                return false;
            }
            $.ajaxFileUpload({
                url: '/ImportOrder/ImportOrderFile', //你处理上传文件的服务端
                secureuri: false,//是否启用安全机制
                fileElementId: 'files',//file的id
                dataType: 'json',//返回的类型
                data: { shopid: shopid, naqi: naqi },
                success: function (data) {//调用成功时怎么处理
                    //var str = data.match(/{(\S*)}/)[1];
                    //var result = "{" + str + "}";
                    if (data.State == 1) {
                        $("#files").val("");
                        layer.msg("导入临时库成功", {icon:6,time:1000});
                    } else {
                        layer.msg("导入临时库失败,原因:" + data.Msg);
                    }
                }
            });
        });

    </script>

</body>
<div id="layersupp" style="display:none">
    <form style="margin-top:10px;margin-right:10px;">
        <div class="layui-form-item">
            <label class="layui-form-label">产品分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="客户名" class="layui-input" id="clientname">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">SKU</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="SKU" class="layui-input" id="sku">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="数量" class="layui-input" id="num">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="手机" class="layui-input" id="telephone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="电话" class="layui-input" id="phone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="地址" class="layui-input" id="address">
            </div>
        </div>              
        <input type="button" class="layui-btn layui-btn-normal" value="保存" style="float:right;margin-top:20px;margin-right:20px;" id="save1" />
    </form>
</div>
</html>






