

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PeizhiSKU</title>
    <link rel="stylesheet" type="text/css" href="~/css/layui.css" media="all">
</head>
<body>
    <div id="layersupp" >
        <div style="margin:20px;">
            <span style="margin-right:20px;">
                <label>平台:</label>
                <select id="platform" lay-filter="plat">
                    <option value="1">Q10</option>
                    <option value="2">乐天</option>
                </select>
            </span>
            <span style="margin-right:20px;">
                <label>店铺:</label>
                <select id="shops">

                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="color:red;">请注意需要选择正确的店铺进行配置</label>
            </span>

        </div>
        <div style="margin:20px;">
            <span style="margin-right:20px;">
                <label>平台SKU:</label>
                <input type="text" class="" placeholder="平台SKU" id="PSKU">
            </span>
            <span style="margin-right:20px;">
                <label>系统SKU:</label>
                <input type="text" class="" placeholder="系统SKU" id="SSKU">
            </span>
            <span style="margin-right:20px;">
                <label>过滤SKU:</label>
                <input type="text" class="" placeholder="过滤SKU" id="GSKU">
            </span>
            <div class="layui-btn-group" style="margin-top:10px;">
                <button class="layui-btn layui-btn-small layui-btn-normal" id="AddPSKU">添加</button>
                <button class="layui-btn layui-btn-small" id="reset">重置</button>
            </div>
        </div>
        <div>
            <center><input type="button" class="layui-btn layui-btn-normal" value="查询" id="search" style="margin:0 auto;" /></center>
        </div>
        <div>
            <table class="layui-table" lay-skin="line">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>店铺</th>
                        <th>平台SKU</th>
                        <th>系统SKU</th>
                        <th>过滤SKU</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>
            <div>
                <span>总记录数:</span><span id="totil"></span>&nbsp;&nbsp;
                <span>总页数:</span><span id="totilpage"></span>&nbsp;&nbsp;
                <span>每页几条:</span>
                <select id="onepagecount">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="laypage"></span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/layui/layui.js"></script>
    <script>
        //删除
        function DeleteSKU(curr) {
            layer.msg('确定要删除吗？', {
                time: 0 //不自动关闭
           , btn: ['确认', '取消']
           , yes: function (index) {
               layer.close(index);
               $(curr).parent().parent().remove();
              var id = $(curr).parent().parent().children('td').eq(0).text();
               $.post('@Url.Content("~/GetDropDownList/DeletePSKU")', {id:id}, function (data) {
                if(data)
                {
                    layer.msg(data.Msg);
                } else {
                    layer.msg(data.Msg);
                }
            })
           }
            });

        }
    </script>
    <script>
        $(document).ready(function () {
            layui.use(['layer', 'form', 'laypage'], function () {
                var layer = layui.layer
                ,form = layui.form()
                , laypage = layui.laypage;

                var totil;
                var totilpage;
                GetshopAndPlat();
                //绑定数据到表格
                function Build(supplierlist) {
                    var body = $("#tableBody");
                    var totiltext;
                    $(supplierlist).each(function (i, e) {
                        var mtext = "<tr>";
                        mtext = mtext + buildTr(e);
                        mtext = mtext + "</tr>";
                        totiltext = totiltext + mtext;
                    })

                    body.append(totiltext);
                }

                $("#reset").bind("click", function ()
                {
                    $("#PSKU").val("");
                    $("#SSKU").val("");
                    $("#GSKU").val("");
                })
                
                //添加SKU
                $("#AddPSKU").bind("click", function () {
                    var PSKU = $("#PSKU").val().trim();
                    var SSKU = $("#SSKU").val().trim();
                    var GSKU = $("#GSKU").val().trim(); 
                    var shopid = $("#shops").val().trim();
                    if (PSKU == "" && SSKU == "" && GSKU=="")
                    {
                        layer.msg("请填写各个SKU信息");
                        return false;
                    }
                    //if (PSKU != "" && SSKU == "")
                    //{
                    //    layer.msg("系统SKU和平台SKU必须同时存在");
                    //    return false;
                    //}
                    //if (PSKU == "" && SSKU != "") {
                    //    layer.msg("系统SKU和平台SKU必须同时存在");
                    //    return false;
                    //}
                    $.post('@Url.Content("~/GetDropDownList/AddPSKU")', { PSKU: PSKU, SSKU: SSKU, GSKU: GSKU, shopid: shopid }, function (data) {
                        if (data) {
                            layer.msg(data.Msg);
                        } else {
                            layer.msg(data.Msg);
                        }
                    })

                })

                function buildTr(tr) {
                    var trContent = "<td>" + tr.ID + "</td>";
                    trContent += "<td>" + tr.ShopName + "</td>";
                    trContent += "<td>" + tr.PSKU + "</td>";
                    trContent += "<td>" + tr.SSKU + "</td>";
                    trContent += "<td>" + tr.GSKU + "</td>";
                    trContent += "<td><input type='button' class='layui-btn layui-btn-mini layui-btn-normal' onclick='DeleteSKU(this)' value='删除'/></td>";
                    return trContent;
                }
             

                $('#search').bind("click", function () {
                    var shopID = $('#shops').val();
                    if (shopID==null)
                    {
                        layer.msg("请先选择店铺和平台", {icon:5,time:2000});
                        return false;
                    }
                    rendertable(1, shopID);
                })
                //渲染表格数据
                function rendertable(index, shopID) {
                    var daoru = layer.load(0, {
                        shade: [0.1, '#676a6c']  //0.1透明度的白色背景
                    });
                    $("#tableBody").children().remove();
                    $("#laypage").children().remove();//清空数据
                    var pagecount = $("#onepagecount").val();//单页几条数据
                    $.post('@Url.Content("~/GetDropDownList/GetPSKUpage")', { pagenum: index, onepagecount: pagecount, shopID: shopID }
                       , function (data) {
                           if (data.State) {
                               if (data.DataResult.PSKUlist.length > 0) { //如果有数据
                                   Build(data.DataResult.PSKUlist); //绑定数据到表格
                                   $("#totil").text(data.DataResult.totilcount);
                                   $("#totilpage").text(data.DataResult.totilpage);
                                   totil = data.DataResult.totilcount;
                                   totilpage = data.DataResult.totilpage;
                                   laypage({
                                       cont: 'laypage'
                                       , curr: index
                                       , skip: false
                                       , pages: totilpage
                                       , jump: function (obj, first) {
                                           if (!first)//不是首次加载
                                           {
                                               rendertable(obj.curr, $('#shops').val()); //自动调用的函数
                                           }
                                       }
                                   });
                               }
                               else {
                                   layer.msg("未找到任何数据");
                               }
                           }
                           else {
                               layer.msg("查询失败，失败原因：" + data.message);
                           }
                           layer.close(daoru);
                       });
                }

                $('#platform').change(function ()
                {
                    var platformID = $('#platform').val();
                    $.post('@Url.Content("~/GetDropDownList/GetShops")', { platformID: platformID }, function (data) {
                        $('#shops').children().remove();
                        for (var i = 0; i < data.length; i++) {
                            $('#shops').append("<option value='" + data[i].shop_id + "'>" + data[i].shop_name + "</option>"); //为Select追加一个Option(下拉项)
                        }
                        form.render('select');
                    })
                })

                //form.on('select(plat)', function (data) {
                 
                //});


                function GetshopAndPlat() {
                    $('#platform').children().remove();
                    $.post('@Url.Content("~/GetDropDownList/GetPlatForms")', {}, function (data) {                      
                        for (var i = 0; i < data.length; i++) {
                            $('#platform').append("<option value='" + data[i].platform_id + "'>" + data[i].platform_name + "</option>"); //为Select追加一个Option(下拉项)
                        }
                    })
                }
            });
          
        });
    </script>
</body>
</html>
